# Third-party source text (copyrighted; rebuild with benchmark/build_corpus.py).
*_corpus.json
# Run outputs that embed document text. Taxonomy JSON, Markdown report,
# biplots and vectors contain no source text and can be committed.
*_documents_*.json
*_clusters_*.json
*_messages_*.json
*_html_report_*.html
*_open_codes_*.json
